In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
from scipy.interpolate import make_interp_spline

### Import SPARSE.csv

In [2]:
df_SPARSE = pd.read_csv("1kmaxVer_1kmaxWeight_1kgraph_1kavgTime_SPARSE.csv")
df_SPARSE

     Vertices  Edges  Time Array (Method 1)  Time Array (Method 2)
0         523    522                  50891                   6480
1         898    897                  13027                    920
2         145    144                   1759                   1239
3         255    254                    880                    363
4         445    444                   1362                    351
..        ...    ...                    ...                    ...
995       722    721                   2307                    187
996       591    590                  30293                   2013
997       242    241                   1516                    184
998       294    293                    775                    118
999       668    667                  18861                   1256

[1000 rows x 4 columns]

Method1: Adjacency matrix & Array for priority queue <br>
Method2: Adjacency lists & Minimizing heap for priority queue <br><br>
### Separating Data

In [3]:
method1_df_SPARSE = df_SPARSE[['Vertices','Edges','Time Array (Method 1)']].copy()
method1_df_SPARSE

     Vertices  Edges  Time Array (Method 1)
0         523    522                  50891
1         898    897                  13027
2         145    144                   1759
3         255    254                    880
4         445    444                   1362
..        ...    ...                    ...
995       722    721                   2307
996       591    590                  30293
997       242    241                   1516
998       294    293                    775
999       668    667                  18861

[1000 rows x 3 columns]

In [4]:
method2_df_SPARSE = df_SPARSE[['Vertices','Edges','Time Array (Method 2)']].copy()
method2_df_SPARSE

     Vertices  Edges  Time Array (Method 2)
0         523    522                   6480
1         898    897                    920
2         145    144                   1239
3         255    254                    363
4         445    444                    351
..        ...    ...                    ...
995       722    721                    187
996       591    590                   2013
997       242    241                    184
998       294    293                    118
999       668    667                   1256

[1000 rows x 3 columns]

### Plot Graphs for Method 1
1. Time complexity with respect to Vertices
2. Time complexity with respect to Edges